[submodule "light_setup"]
	path = light_setup
	url = https://github.com/hamsham/LightSetup.git
	branch = master
[submodule "light_utils"]
	path = light_utils
	url = https://github.com/hamsham/LightUtils.git
	branch = master
[submodule "light_math"]
	path = light_math
	url = https://github.com/hamsham/LightMath.git
	branch = master
[submodule "light_game"]
	path = light_game
	url = https://github.com/hamsham/LightGame.git
	branch = master
[submodule "light_script"]
	path = light_script
	url = https://github.com/hamsham/LightScript.git
	branch = master
